[submodule "cookbooks/python"]
	path = cookbooks/python
	url = git://github.com/opscode-cookbooks/python.git
[submodule "cookbooks/supervisor"]
	path = cookbooks/supervisor
	url = git://github.com/opscode-cookbooks/supervisor.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/users"]
	path = cookbooks/users
	url = git://github.com/opscode-cookbooks/users.git
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = git://github.com/opscode-cookbooks/nginx.git
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = git://github.com/opscode-cookbooks/database
