[submodule "cookbooks/python"]
	path = cookbooks/python
	url = git://github.com/opscode-cookbooks/python.git
[submodule "cookbooks/supervisor"]
	path = cookbooks/supervisor
	url = git://github.com/opscode-cookbooks/supervisor.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/users"]
	path = cookbooks/users
	url = git://github.com/opscode-cookbooks/users.git
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = git://github.com/opscode-cookbooks/nginx.git
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = git://github.com/opscode-cookbooks/ohai
[submodule "cookbooks/redisio"]
	path = cookbooks/redisio
	url = git://github.com/jumski/redisio-cookbook.git
[submodule "cookbooks/rvm"]
	path = cookbooks/rvm
	url = git://github.com/fnichol/chef-rvm.git
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = git@github.com:jumski/database-cookbook.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = git://github.com/opscode-cookbooks/sudo.git
[submodule "cookbooks/logrotate"]
	path = cookbooks/logrotate
	url = git://github.com/opscode-cookbooks/logrotate.git
[submodule "cookbooks/postfix"]
	path = cookbooks/postfix
	url = git://github.com/opscode-cookbooks/postfix.git
[submodule "cookbooks/htpasswd"]
	path = cookbooks/htpasswd
	url = git://github.com/Youscribe/htpasswd-cookbook.git
