{
  "opinionated_stack": {
    "mail_domain" : "beta.turnyourtime.com",
    "httpasswd" : {
      "users" : {
        "username_1" : "password",
        "username_2" : "password"
      }
    },
    "apps": [
      {
        "name": "simple_app",
        "password": "this is unix user password",
        "db_password": "this is mysql password",
        "main_domain" : "simple_app.net",
        "redirect_domains" : ["www.simple_app.net"],
        "rolling_deploy": false,
        "http_auth_for" : ["username_1", "username_2"]
      },

      {
        "name": "complex_app",
        "password": "this is unix user password",
        "db_password": "this is mysql password",
        "main_domain" : "complex_app.pl",
        "redirect_domains": ["www.complex_app.pl"],
        "rolling_deploy": true,
        "unicorn_worker_processes": 1,
        "asset_domain" : "assets.complex_app.pl",
        "resque_workers" : {
          "default" : "*"
        }
      },

    ]
  },

  "run_list": [ "opinionated_stack" ]
}
